footer a{
    color: #495057;
    text-decoration: none;
}
span.title {
    font-size: 32px!important;
    color: #343661!important;
    font-weight: bold!important;
}
h5.title{
    padding-top: 17px!important;
    color: #343661!important;
    font-weight: bold;
}
ul li{
    font-size: 14px!important;
}