.navbar{
    padding: 30px 0px!important;
    background-color: transparent!important;
    z-index: 2;
    
}
.navbar-nav{
    margin-right: auto!important;
    margin-left: auto!important;
}
.title{
    font-weight: 700!important;
    font-size: 25px;
}