<nav class="navbar navbar-expand-lg navbar-light bg-light" (scroll)="onWindowScroll()">
    <div class="container-fluid">
        <!--Title-->
      <a class="navbar-brand title color_wht ps-5" href="#">Traveller</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--Menu List-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
          <li class="nav-item">
            <a class="nav-link active color_wht text" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color_wht text opacity" href="#">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle color_wht text opacity" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item"> 
            <a class="nav-link disabled color_wht text opacity" href="#" tabindex="-1" aria-disabled="true">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled color_wht text opacity" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          </li>
        </ul>
        <!--Button-->
        <form class="d-flex pe-5">
          <button class="btn btn-outline-success button color_wht text" type="submit">Contact us</button>
        </form>
      </div>
    </div>
  </nav>