<div class="container-fluid my_services">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="title">Our Services</h1>
            <br>
            <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <br>
            <button class="btn btn-outline-success button color_wht text" type="submit">Contact us</button>
        </div>
        <div class="col-lg-2">
            <img src="assets/Images/01.svg" alt="">
            <h2 class="title pt-4">Tourism</h2>
            <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-2">
            <img src="assets/Images/02.svg" alt="">
            <h2 class="title pt-4">Package Tours</h2>
            <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-2">
            <img src="assets/Images/03.svg" alt="">
            <h2 class="title pt-4">Travel Insuarance</h2>
            <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-2">
            <img src="assets/Images/04.svg" alt="">
            <h2 class="title pt-4">Airport Lounge Access</h2>
            <p class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>
</div>