<div class="container-fluid jumbotron d-flex flex-column justify-content-center">
    <div class="my_text ps-5 pt-5">
    <h1 class="title color_wht">It's a Big World Out There, Go Explore</h1>
    <br>
    <p class="color_wht text">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    <br>
    <span class="color_wht text"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Watch Video</span>
   </div>
</div>