.title{
    font-family: 'Brygada 1918', serif!important;
}
.text{
    font-family: 'Inter', sans-serif!important;
}
.color_wht{
    color: white!important;
}
.opacity{
    opacity: 0.8!important;
}
.button{
    color: #f17945!important;
    border: 1px solid #f17945!important;
    border-radius: 20px!important;
    padding: 6px 30px!important;
}
.button:hover{
    color: white!important;
    background-color: #f17945;
}